/* .navIcon {
    font-size: 28px;
    color: #000;
    position: absolute;
    top: 12px;
} */

.navFont {
    color: #fff !important;
}

.landingnavBackground{
    background-color: #4d5991 !important;    
}

