/* .navIcon {
    font-size: 28px;
    color: #000;
    position: absolute;
    top: 12px;
} */

.landingnavFont {
    color: #fff !important;
}

.landingnavBackground{
    /* background-color: #4d5991 !important;     */
    background: #4d5991; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #4d5991, #1A265E) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #4d5991, #1A265E) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #4d5991, #1A265E) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #4d5991, #1A265E) !important; 
}

/* .landingNavButton {
    border-style: solid !important;
    border-color: #fff !important;
    background-color: #4d5991!important;
} */

