.aboveTheFold {
  min-height: 1024px;
  padding: 1em 0em;
  background-image: url('../../../assets/images/home.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.signUpButton {
  width: 450px !important;
  margin-bottom: 0.75em !important;
  display: block;
}

.signUpForm {
  width: 450px !important;
  margin: 0 auto !important;
  display: none;
}

.cohortCodeButton {
  width: 450px !important;
}
