.dashboardBanner {
  min-height: 250px !important;
  padding: 50px 0px !important;
  /* background-color: #fff !important; */
  background-color: #fff !important;
}

/* .dashboardTab {
  background-color: #DEE1E5 !important;
} */

.dashboardTitle {
  font-size: 4em !important;
  font-weight: 300 !important;
  margin-top: 25px !important;
  margin-bottom: -20px !important;
  color: #001738 !important;
}

.tabMenu {
  position: relative;
  top: -78px;
}

.tabPane {
  margin-top: 37px !important;
  background-color: #f4f7f9 !important;
  border-style: none !important;
  box-shadow: none !important;  
}

.dashboardBackground {
  background-color: #f4f7f9 !important;
}

.dashboardEmptyStateHeader {
  font-size: 2em !important;
  font-weight: 400 !important;
}

.dashboardEmptyStateText {
  font-size: 1.25em !important;
  font-weight: 300 !important;
}

