.navIcon {
    font-size: 28px;
    color: #000;
    position: absolute;
    top: 12px;
}

.navItem {
    font-size: 14px !important;
}

.navCreate {
    color: #5FA8F9 !important;
}

.navFont {
    font-size: 1em !important;
    font-weight: 300 !important;
    color: #000 !important;
}