.navIcon {
  font-size: 28px;
  color: #000;
  position: absolute;
  top: 12px;
  width: 20px;
}

.navItem {
  font-size: 14px !important;
}

.navCreate {
  color: #25569B !important;
}

.navFont {
  font-size: 1em !important;
  font-weight: 300 !important;
  color: #000 !important;
}

.navbarAvatar {
  width: 50px !important;
  height: 50px !important;
  margin-left: 24px;
}
